In [63]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [64]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [65]:
for i in range(1, 6):
    print(f"{i} squared is {i**2}")

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

In [66]:
n = 10
total = 0
for i in range(1, n+1):
    total += i
print("Sum =", total)

Sum = 55

In [67]:
text = "Areeb"
for char in text:
    print(char)

A
r
e
e
b

In [68]:
text = "Areeb"
reversed_text = ""
for char in text:
    reversed_text = char + reversed_text
print(reversed_text)

beerA

In [69]:
n = 19
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [70]:
num = 487
is_prime = True

for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
        is_prime = False

if is_prime and num > 1:
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

487 is a prime number

In [91]:
for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

In [92]:
numbers = [10, 20, 30, 40, 50]
total = 0
for num in numbers:
    total += num
print("Sum =", total)

Sum = 150

In [93]:
num = 6
factor = 1
for i in range(1, num + 1):
    factor *= i
print("Factor =", factor)

Factor = 720

In [94]:
for i in range(100, 201):
    if i % 5 == 0 and i % 7 == 0:
        print(i)

105
140
175

In [95]:
for i in range(100,401):
    if i % 5 == 0 and i % 8 == 0:
        print(i)

120
160
200
240
280
320
360
400

In [96]:
for i in range(100, 401):
    if i % 7 == 0 and i % 9 == 0:
        print(i)

126
189
252
315
378

In [97]:
#Print numbers from 50 to 1 in reverse order using a for loop.

In [98]:
for i in range(50,0,-1):
    print(i)

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [99]:
#Given a string "Python For Loop", count how many vowels it has using a for loop.

In [100]:
text="python for loop"
vowels="aeiouAEIOU"
count= 0
for chr in text:
    if chr in vowels:
        count += 1
print("number of nowels:",count)

number of nowels: 4

In [101]:
# Given a list of numbers [12, 45, 9, 8, 32, 17], print only the odd numbers using a for loop.

In [102]:
nums = [12, 45, 9, 8, 32, 17]
for n in nums:
    if n % 2 != 0:
        print(n)

45
9
17

In [103]:
#Print the sum of all even numbers between 1 and 100.

In [110]:
total = 0
for i in range(2, 101, 2):
    total += i
print("sum =",total )

sum = 2550

In [111]:
# print even number till 50

In [108]:
for i in range(1, 51):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [115]:
#Print numbers from 1 to 20, but skip (donâ€™t print) numbers divisible by 4.

In [120]:
for i in range(1, 21):
    if i % 4 == 0:
     continue
    print(i)

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19

In [1]:
#Print numbers from 1 to 10 using a while loop.

In [2]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [3]:
#Print numbers from 10 down to 1 in reverse counting.

In [4]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [5]:
#Find the sum of numbers from 1 to 100 using a while loop.

In [6]:
i = 1
total = 0
while i <= 100:
    total += i
    i += 1
print("Sum =", total)

Sum = 5050

In [7]:
#Print only even numbers between 1 and 20 using a while loop

In [8]:
i = 1
while i <= 20:
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20

In [9]:
#Print the multiplication table of 7 using a while loop

In [10]:
i = 1
while i <= 10:
    print(f"7 x {i} = {7 * i}")
    i += 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [11]:
#Reverse the digits of a number

In [13]:
num = 9521789
rev = 0
while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10
print("Reversed =", rev)

Reversed = 9871259

In [14]:
#Count the number of digits in a number.

In [16]:
num = 185484516484515484515458
count = 0
while num > 0:
    num //= 10
    count += 1
print("Number of digits =", count)

Number of digits = 24

In [17]:
#Print all numbers from 1 to 50 that are divisible by 5

In [18]:
i = 1
while i <= 50:
    if i % 5 == 0:
        print(i)
    i += 1

5
10
15
20
25
30
35
40
45
50

In [19]:
#Ask the user to enter numbers repeatedly until they enter 0, then print the total sum

In [20]:
total = 0
num = int(input("Enter a number (0 to stop): "))
while num != 0:
    total += num
    num = int(input("Enter a number (0 to stop): "))
print("Total sum =", total)

Total sum = 3441

In [24]:
#Print numbers from 1 to 20, but skip numbers divisible by 3.

In [25]:
i = 1
while i <= 20:
    if i % 3 == 0:
        i += 1
        continue
    print(i)
    i += 1

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [26]:
#Print all numbers from 1 to 50, but only print even numbers.

In [27]:
i = 1
while i <= 50:
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50